.dimensionsdetail {
    .header {
        @include padding(0rem, 1.667rem, 0rem, 0rem);
        //        background: $header;
        .back {
            padding: 1.1rem 1.5rem 1.1rem 1.5rem;
            background-color: $backbtnclr;
            font-size: 1.3rem;          
        }
        .page-title {
            font-family: open_sanssemibold;
            color: $titleColor;
            font-size: 1.334rem;
            display: inline-block;
            @include margin(1rem, 0, 1rem, 1rem);
            span {
                color: $primarytxt;
                font-family: open_sansregular;
                font-size: 1.1667rem;
            }
        }
        .search{
            @extend .fr;
            position: relative;
            margin: 0.5rem 0 0;
            .srch_ipt{
                border: none;
                border-bottom: 1px solid darken($white, 20%);
                width: 20rem;
                border-radius: 0;
                padding-left: 0.5rem;
                outline: none;
                &:focus {
                    border-bottom: 1px solid $theadbg;
                }
            }
            .search-ico{
                @extend .fr;
                padding-top: 0.5rem;
                margin-right: 0rem;
                position: absolute;
                top:0;
                right: 0;
                color:$primarytxt;
                font-size: 1.33rem;
            }
        }
    }
    .dimensionsdetail-content {
        padding: 1.667rem;
        .dimensionsdetail-title{
            @include padding(0.652rem, 1rem, 0rem, 1rem);
            background:$theadbg;
            a{
                @extend .fl;
                width:8rem;
                color: $white;
                font-size:1.25rem;
                //					font-family: open_sanssemibold;
                @include padding(0.1rem, 1rem, 1rem, 1rem);
                margin-right:1rem;
                text-decoration: none;
            }
            .router-link-active{
                border-bottom: 2px solid $white;
                text-decoration: none;
                font-family: open_sanssemibold;
            }
        }
    }
}
