.taskdetail {
    .taskinfo-content {
        padding: 1.667rem;
        .edit-task {
            padding: 0 0 1.15rem 0;
            h5 {
                font-size: 1.334rem;
                text-transform: uppercase;
                color: $titleColor;
                font-family: open_sanssemibold;
                span {
                    color: $primarytxt;
                    text-transform: none;
                    font-family: open_sansregular;
                    font-size:1.1667rem;
                }
            }
        }
        .sub-header {
            @include padding(1rem, 1rem, 0.9rem, 1rem);
            .page-title{
                color:$headtxt;
                font-size: 1.2rem;
                font-family: open_sanssemibold;
                text-transform: uppercase;
                span{
                    font-family: open_sansregular;
                }
            }
        }
        .taskinfo-title{
            @include padding(0.652rem, 1rem, 0rem, 1rem);
            background:$theadbg;
            a{
                @extend .fl;
                width:12rem;
                color: $white;
                font-size:1.25rem;
                //					font-family: open_sanssemibold;
                @include padding(0.1rem, 1rem, 0.7rem, 1rem);
                margin-right:5rem;
                text-decoration: none;
                margin-bottom: 0.3rem;
            }
            .router-link-active{
                border-bottom: 2px solid $white;
                text-decoration: none;
                font-family: open_sanssemibold;
            }
        }
        .taskdetail-content{
            padding: 1rem 1rem 0;
            .taskdetail-content-area{
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 0;
                //			box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                background-color: darken($white,0.4%);
                .taskdetail-title{
                    @include padding(0.742rem, 1rem, 0rem, 1rem);
                    background:$theadbg;
                    a{
                        @extend .fl;
                        width:12rem;
                        color: $white;
                        font-size: 1.2rem;
                        //					font-family: open_sanssemibold;
                        @include padding(0.1rem, 1rem, 1rem, 1rem);
                        margin-right:5rem;
                        text-decoration: none;
                    }
                    .router-link-active{
                        border-bottom: 2px solid $white;
                        text-decoration: none;
                        font-family: open_sanssemibold;
                    }
                }
                .taskdetail-content-section{
                    font-family: open_sanssemibold;
                    .titile-1{
                        @include padding(0rem, 0rem, 0rem, 0rem);
                        font-size: 1.1667rem;
                        color:$primarytxt;
                        font-family: open_sansregular;
                    }
                    .titile-2{
                        font-size: 1.25rem;
                        color:$primarytxt;
                        text-transform:uppercase;
                    }
                    .task-name{
                        padding-bottom:1rem;
                        label{
                            font-size: 1.1667rem;
                            color:$primarytxt;
                            margin-top: 0.5rem;
                            min-width: 10rem;
                        }
                        .task-input{
                            width: 37rem;
                            font-size: 1.1667rem;
                        }
                    }
                    .task-dropdown{
                        position:relative;
                        color:$secondarytxt;
                        .dropdown, .c-select {
                            width: 37rem;
                            font-size: 1.1667rem;
                        }
                        label{
                            font-size: 1.1667rem;
                            color:$primarytxt;
                            margin-top: 0.5rem;
                            min-width: 10rem;
                        }
                        .kendo-task-input{
                            width:37rem;
                            font-family: open_sansregular;
                            font-size: 1.1667rem;
                            color:$secondarytxt;
                            .k-dropdown-wrap {
                                border: $input-btn-border-width solid $input-border-color;
                                border-radius: 3px;
                                input {
                                    border-radius: 3px;
                                }
                            }
                        }
                        .k-state-hover{
                            box-shadow: none;
                        }
                        .k-state-focused{
                            box-shadow: none;
                        }
                        .k-select {
                            background-color: #fff;
                            border: none;
                        }
                        .bootstrap-select {
                            width: 37rem;
                        }
                        .dropdown-button{
                            background: $white;
                            width: 30rem;
                            padding: 0rem 1rem;
                            text-transform: none;
                            outline:none;
                            label{
                                width: 95%;
                                float: left;
                                text-align: left;
                            }
                            &::after {
                                border-width: 0.5rem;
                                margin: 1rem 0;
                            }
                        }
                        .dropdown-style{
                            padding:1rem;
                            width: 20rem;
                            padding:0rem;
                            li{ padding:1rem;
                                a{
                                    font-size: 1.1rem;
                                    color:$secondarytxt;
                                }
                                &:hover{
                                    background:darken($white, 11%);
                                }
                            }
                        }
                        .add-new{
                            @include margin(0.5rem,0,0,1.67rem);
                            display: inline-block;
                            text-transform: uppercase;
                            color:$theadbg;
                            cursor: pointer;
                            font-size: 1.1667rem;
                            &:hover{
                                color:$buttonhover;
                            }
                        }
                        ng-select {
                            float: left;
                        }
                    }
                    .target-table{
                        .radio-button {
                            width: 37rem;
                            display: inline-block;
                            .c-radio{
                                margin-left:-1.2rem;
                            }
                            .c-indicator{
                                @include margin(0.3rem,0,0,-0.5rem);
                                //								background-color:#bbb;
                            }
                            .c-input > input:checked ~ .c-indicator {
                                background-color: $headtxt;
                                outline: none;
                                border: none;
                            }
                            label {
                                font-family: open_sansregular;
                            }
                        }
                        .radio{
                            margin-left:0rem;
                        }
                        label{
                            font-size: 1.1667rem;
                            color:$primarytxt;
                            min-width:10rem;
                            vertical-align: -webkit-baseline-middle;
                            //						margin: 0 0 1rem 0;
                        }
                        .add-new-target{
                            border: 1px dotted $tborder;
                            padding: 0.5rem;
                            @include margin(0.5rem, 1.5rem, 0.5rem, 0.5rem);
                            text-align: center;
                            color:$tborder;
                        }
                        .target-img{
                            // padding-left: 0.8rem;
                            font-size:1.2rem;
                            color: $secondarytxt;
                            top: 2px;
                            position: relative;
                            @extend .fr;
                            cursor: pointer;
                            &:hover, &:focus {
                                color: $theadbg;
                            }
                        }
                    }
                    .module-table {
                        padding: 1rem 0 0;
                        label {
                            font-size: 1.1667rem;
                            color:$primarytxt;
                            min-width:10rem;
                            &.c-input {
                                font-size: 1.05rem;
                                padding-left: 2.25rem;
                            }
                        }
                        .table-dropdown{
                            width: 47.25rem;
                            max-height: 21rem;
                            overflow: auto;
                            margin: 0.5rem 0 0;
                            table {
                                width: 100%;
                                border: 1px solid $tborder;
                                border-radius: 3px;
                                tbody {
                                    tr {
                                        background: $white;
                                        &:nth-child(even) {
                                            background: $troweven;
                                        }
                                        &:hover {
                                            background: $trowhov;
                                        }

                                        td{
                                            @include padding(0.5rem, 0.5rem, 0.5rem, 1rem);
                                            font-size: 1.1667rem;
                                            color:$primarytxt;
                                            font-family: open_sansregular;
                                        }
                                    }
                                    .tractive{
                                        background: $trowhov;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .border-style{
        border-top: 1px solid darken($white, 20%);
        @include margin(1rem, 0, 0.6667rem, 0);
    }
    .border-style2{
        border-bottom: 1px solid darken($white, 20%);
    }
    .action {
        padding-top: 1rem;
        .task-detail-cancel {
            color: $theadbg;
            font-size: 1.1rem;
            @include padding(0rem, 2rem, 0rem, 0rem);
            font-family: open_sanssemibold;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .taskmapping-content {
        padding: 1rem 1rem 0;
        .taskmapping-title {
            p{
                font-size: 1.1667rem;
                color:$primarytxt;
                font-family: open_sansregular;
                span{
                    text-transform: uppercase;
                    font-weight: 900;
                    color:$headtxt;
                }
            }
        }
        .table-title{
            margin: 0.75rem 0 0;
            font-family: open_sanssemibold;
            p{
                font-size: 1.1667rem;
                color:$primarytxt;
                @extend .fl;
            }
            a{
                font-size: 1.1667rem;
                @extend .fr;
                text-transform: uppercase;
                margin-top: 0.2rem;
            }
            input {
                border: none;
                border-bottom: 1px solid #ccc;
                width: 20rem;
                border-radius: 0;
                padding: 0 0 0 0.5rem;
                outline: none;
            }
            i {
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .taskmappings-connection {
            @include padding(3.75rem, 1rem, 1rem, 1rem);
            margin-left:auto;
            margin-right:auto;
            text-align: center;
            img {
                width: 20px;
            }
        }
        .table-responsive {
            box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            margin-bottom: 1rem;
            max-height: 54vh;
            overflow: auto;
            table {
                width: 100%;
                border-radius: 0;
                thead,
                tfoot {
                    background: $theadbg;
                    font-size: 1.1667rem;
                    font-family: open_sanssemibold;
                    tr {
                        background: transparent;
                        th {
                            @include padding(0.9rem, 1rem, 0.9rem, 1rem);
                            text-align: left;
                            color: $white;
                        }
                    }
                }
                tbody {
                    tr {
                        background: $white;
                        &:nth-child(even) {
                            background: $troweven;
                        }
                        &:hover {
                            background: $trowhov;
                        }

                        td{
                            @include padding(0.4rem, 0.7rem, 0.4rem, 0.7rem);
                            font-size: 1rem;
                            img{
                                width:2rem;
                                padding-right:0.3rem;
                            }
                            &.src-dimension-active{
                                background-image: url(../assets/icons/Cirle_Green_1x.svg);
                                background-repeat: no-repeat;
                                background-position: right 1rem center;
                                background-size: 0.9rem;
                                padding-right: 1rem;
                            }
                            .taskmapping-data{
                                span{
                                    @extend .fl;
                                }
                                .taskmapping-data-icon{
                                    @extend .fr;
                                    a{
                                        @include padding(0rem, 0.5rem, 0, 0.5rem);
                                    }
                                }
                            }
                            .dragable-content-td {
                                border-top:1px solid lighten($black, 90%);
                            }
                            .taskmapping-dragable-content-area{
                                border: 1px dashed $tborder;
                                padding: 0.2rem;
                                @include margin(0.3rem, 1rem, 0.3rem, 1rem);
                                text-align: center;
                                color:$tborder;
                                font-size: 1.1667rem;
                                span{
                                    color:$theadbg;
                                    cursor: pointer;
                                }
                            }
                        }
                        .entity-demension{
                            color:$theadbg;
                            font-size: 1.05rem;
                        }
                    }
                    .locked {
                        color:darken($white,20%);
                        td{
                            @include padding(0.8rem, 1rem, 0.85rem, 1rem);
                        }
                        img{
                            opacity: 0.5;
                        }
                    }
                    .trtaskmapping-dragable-content{
                        background: $troweven;
                        border:1px solid darken($white,10%);
                    }
                    .tractive{
                        background: $trowhov;
                    }
                }
            }
        }
        .target-expression{
            tr{
                td{
                    border:1px solid darken($white,10%);
                    border-bottom: none;
                    border-top: none;
                    &:hover {
                        background: $trowhov;
                    }
                    &.dnd-drag-over {
                        border: 1px solid $theadbg;
                        border-left: 1px solid $theadbg !important;
                    }
                    &:first-child {
                        border: none;
                    }
                    &:last-child {
                        border: none;
                        padding: 0;
                    }
                    p {
                        margin: 0;
                    }
                    &.target-field {
                        width: 18rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: initial;
                        .name {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            float: left;
                        }
                        .icon-style {
                            float:right;
                            i {
                                padding: 0 0.1rem;
                                color: $primarytxt;
                                cursor: pointer;
                                &:hover {
                                    color: $theadbg;
                                }
                            }
                        }
                    }
                    .mapping-exp {
                        margin: 0;
                        height: 1.5rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        //						@media (max-width:1024px) {
                        //							width: 12rem;
                        //						}
                        //						@media (min-width:1025px) and (max-width:1366px) {
                        //							//                            width: 27rem;
                        //						}
                        //						@media (min-width:1367px) and (max-width:1440px) {
                        //							width: 27rem;
                        //						}
                        //						@media (min-width:1441px) and (max-width:1600px) {
                        //							width: 32rem;
                        //						}
                        //						@media(min-width:1920px) {
                        //							width: 61rem;
                        //						}
                    }
                    &.action-icon {
                        width: 4.5rem;
                        a {
                            color: $primarytxt;
                            &:hover {
                                color: $theadbg;
                            }
                            &.function {
                                font-size:1.15rem;
                                padding: 0 0.5rem 0 0;
                            }
                        }
                    }
                }
                &.dnd-drag-over {
                    td {
                        border: 1px solid $theadbg;
                    }
                }
            }
        }
    }
}

//TASK PREVIEW POPUP
.task-preview {
    .preview-row{
        padding-bottom:1rem;
        label{
            font-family: open_sanssemibold;
        }
        .preview-input{
            width:7rem;
            //            margin-left:2rem;
            //            padding-left:0.5rem;
            //            border-radius:2px;
            //            border:1px solid darken($white,20%);
        }
        span{
            @extend .fr;
            font-size: 1.1rem;
            color:$secondarytxt;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    table {
        width: 100%;
        border-radius: 0;
        box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        tbody {
            tr {
                background: $white;
                height: 2.2rem;
                &:nth-child(even) {
                    background: $troweven;
                }
                &:hover {
                    background: $trowhov;
                }
                td{
                    @include padding(0rem, 0rem, 0, 1rem);
                    font-family: open_sansregular;
                    font-size: 1rem;
                    color:#6f6f6f;
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    img{
                        width:2rem;
                        padding-right:0.3rem;
                    }
                }
            }
        }
        thead,
        tfoot {
            background: $theadbg;
            font-size: 1.12rem;
            font-family: open_sanssemibold;
            tr {
                background: transparent;
                th {
                    @include padding(0.9rem, 1rem, 0.9rem, 1rem);
                    text-align: left;
                    color: $white;
                }
            }
        }
    }
    .total-rows{
        color:#6f6f6f;
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
    }
}

//EXPRESSION BUILDER POPUP
.expression-builder{
    margin-bottom:1.2499rem;
    .subtitle{
        margin-bottom:1rem;
        font-family: open_sanssemibold;
        font-size: 1.1667rem;
        color:$primarytxt;
        text-transform: uppercase;
        a{
            text-transform: uppercase;
        }
    }
    //	p{
    //		font-family: open_sanssemibold;
    //		font-size: 1.1667rem;
    //		color:$primarytxt;
    //		text-transform: uppercase;
    //		a{
    //			text-transform: uppercase;
    //		}
    //	}
    .description{
        margin: 1.3rem 0 1.15rem;
        p {
            margin: 0.25rem 0 1.15rem;
        }
        div {
            color: $primarytxt;
            font-size: 1.1667rem;
            background: lighten($secondarytxt, 30%);
            padding: 1rem;
            border-radius: 3px;
        }
    }
    .alert {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .column-table {
        max-height: 21rem;
        overflow: auto;
        border:1px solid darken($white,20%);
        box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        margin-bottom: 1.5rem;
        table {
            border: none;
            box-shadow: none;
            margin-bottom: 0;
        }
    }
    table {
        width: 100%;
        //		margin-bottom: 1rem;
        border-radius: 0;
        border:1px solid darken($white,20%);
        box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        tbody {
            tr {
                background: $white;
                cursor: pointer;
                &:nth-child(even) {
                    background: $troweven;
                }
                &:hover {
                    background: $trowhov;
                }
                td{
                    @include padding(0.25rem, 0rem, 0.25rem, 1rem);
                    font-family: open_sansregular;
                    font-size: 1rem;
                    color:$primarytxt;
                    img{
                        width:2rem;
                        padding-right:0.3rem;
                    }
                }
            }
        }
    }
    .target-control-type{
        width:100%;
        resize: none;
        min-height:17rem;
        color:$primarytxt;
        border:1px solid darken($white,20%);
        @include padding(1rem,1rem,1rem ,1rem);
    }
    .expressions{
        @include padding(1rem,0,0 ,0rem);
        .col-xs-1, .col-xs-6{
            border:1px solid darken($white,20%);
            border-right: none;
            text-align: center;
            padding: 0.4rem 0;
            cursor:pointer;
            a{
                color:$primarytxt;
                border-radius:1px;
            }
            &:hover{
                border:1px solid $theadbg;
                a {
                    color:$theadbg;
                }
            }
        }
        div{
            &:nth-child(10){
                border-right: 1px solid darken($white,20%);
            }
        }
    }
}

//NEW TARGET POPUP
.create-new-target-popup {
    .c-select {
        width:100%;
        margin-top:1.67rem;
        margin-bottom:1.2499rem;
    }
}
